@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.seats-box {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(15, 3rem);
  grid-template-rows: repeat(12, 3rem); */
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
}

.seat {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* aspect-ratio: 1; */
}

.seat-reserved {
  background-color: #222;
  cursor: not-allowed;
}

.seat-selected {
  background-color: orange;
}

.seats-legend-box {
  grid-row: 11/-1;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.seats-legend-box div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.seats-legend-box div div:not(:last-child) {
  width: 4rem;
  height: 4rem;
  border: solid 1px #000;
}

.seats-legend-box div p {
  margin: 0 1rem;
}